{% extends 'base.html' %}

{% block content %}


<div class="container">
  <h1 class="display-1 text-center">User Information</h1>
  <div class="row justify-content-center">
    <div class="col-md-8">

      
    <div class="card">
        <div class="card-body">
            <h5 class="card-title d-inline">First Name:</h5>
            <p class="card-text d-inline">{{ user.first_name }}</p>
        </div>
        <div class="card-body">
            <h5 class="card-title d-inline">Last Name:</h5>
            <p class="card-text d-inline">{{ user.last_name }}</p>
        </div>
        <div class="card-body">
            <h5 class="card-title d-inline">Email:</h5>
            <p class="card-text d-inline">{{ user.email }}</p>
        </div>
        <div class="card-body">
            <h5 class="card-title d-inline">Username:</h5>
            <p class="card-textd d-inline">{{ user.username }}</p>
        </div>
        <div class="text-center mt-3">
          <a href="/users/{{user.username}}/feedback/add" class="btn btn-primary">Add Feedback</a>
      </div>
      <div class="text-center mt-3">
        <form style="display:inline;" action="/users/{{user.username}}/delete" method="POST">
        <button class="btn btn-sm btn-danger">Delete User</i></button>
      </form></div>
      

    </div>
      

    </div>
  </div>
</div>

<div>
  {% for feedback in user.feedbacks %}
  <div class="card my-4">
    <div class="card-body">
      <h5 class="card-title text-info">
        {{user.username}}
        {% if session['username'] == feedback.username %}
        <form style="display:inline;" action="/feedback/{{feedback.id}}/update" method="POST">
          <button type="submit" class="btn btn-sm btn-primary" ><i class="fas fa-trash"></i>update</button>
        </form>
        <form style="display:inline;" action="/feedback/{{ feedback.id }}/delete" method="POST">
          <button type="submit" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i>delete</button>
        </form>
       
        {% endif %}
      </h5>
      <h6 class="card-subtitle mb-2 text-muted">{{feedback.tittle}}</h6>
      <p class="card-text">
        {{feedback.content}}
      </p>

    </div>
  </div>

  {%  endfor %}
</div>
{% endblock %}

